body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Exo 2', sans-serif;
}

/* Apply Custom Cursor */

/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Slim Width */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* Fully Transparent */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.7); /* Red Thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.9); /* Slightly Darker on Hover */
}

